{
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "es5",
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 120,
                "explicitTypes": "always"
            }
        }
    ]
}
